body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header{
  padding: 10px 0px 10px 200px
}

.main-section {
  background-color: #F1F1F5;
  padding: 80px 200px 100px 200px;
}

.search-form {
  width: 74%;
}

.add-btn {
  width: 22%;
}

.course-item {
  min-height: 21px;
  display: flex;
  justify-content: space-around; 
  background-color: #FFF;
  color: #5A5A5A;
  padding: 18px;
  margin: 6px 0px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.item-date {
  width: 10%;
  display: block;
}

.item-name {
  width: 20%;
  display: block;
  font-weight: 600;
  padding-left: 12px;
}

.item-description {
  width: 50%;
  display: block;
  padding-left: 10px;
}

.item-duration {
  width: 20%;
  display: block;
}
.item-duration i {
  position: relative;
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.add-btn {
  height: 40px;
  margin-left: 13px;
  border: none;
  background-color: #32C9DC;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}

.search-form {
  height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  padding-left: 20px;
  font-family: FontAwesome;
}

.container {
  margin-top: 20px;
}

.edit {
  width: 150px;
  display: flex;
  flex-direction: column;
  box-shadow:rgba(0,0,0, 0.2) 0px 1px 3px;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}


.drop-down-menu:before {
  position:absolute;
  top: 40px; 
  right:20px;
  content: '';
  width: 0;
  height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 16px solid white;
  z-index:2;
}
.drop-down-menu:after {
  position:absolute;
  top: 40px; 
  right:20px;
  content: '';
  width: 0;
  height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(0,0,0, 0.2);
  z-index:1;
}

.edit span {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.wrapper {
  background-color: #fff;
  padding: 30px 150px 30px 150px;
  color: #5A5A5A;
}

.wrapper input, textarea {
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid rgb(168, 167, 167);
}

.logo {
  text-align: center;
  color: #5A5A5A;
  font-weight: 600;
}

.column-inputs {
  display: flex;
  flex-direction: column;
}

.short-inputs {
  display: flex;
}

.btns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btns button {
  width: 250px;
  font-weight: 600;
  font-size: 18px;
}

.cancel-btn {
  color: #5A5A5A;
  background-color: white;
  border: none;
}

.large-inputs input {
  width: 99%;  
  height: 20px;
}

.short-inputs input {
  width: 250px;
  height: 30px;
}

.short-inputs {
  display: flex;
  justify-content: space-between;
}

.calendar {
  display: flex;
  flex-direction: column;
}

.footer {
  position: absolute;
  color: #5A5A5A;
  padding-left: 200px;
  max-height: 40px;
}